@import url("/default/styles.css");

@font-face {
	font-family: 'PirateFont';
	src: url('/fonts/PirataOne-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

:root {
	--font-body: 'PirateFont', 'IBM Plex Mono', monospace;
	--color-bg-0: rgb(28, 27, 26);
	--color-bg-1: hsl(30, 11%, 18%);
	--color-bg-2: hsl(47, 31%, 11%);
	--color-theme-1: #e49725;
	--color-theme-2: #1f0e10;
	--color-text: #f2ebec;

}

body {
	background: black;
}

.background {
	background-image: url('/pirate/background.png');
	position: fixed;
	inset: 0;
	z-index: -1;
	opacity: 0.25;
}

.listitem {
	outline: 0.3rem solid rgb(65, 61, 51);
	background-color: rgb(65, 61, 51, 0.5);
}

.listitem:has(.hidden):hover {
	outline: 0.2rem solid rgb(105, 96, 73);
}

.listitem:hover {
	outline: 0.2rem solid var(--color-theme-1);
}

/* add styles to .header if .modpacks contains a div with .hidden */
.listitem:has(.hidden) .header {
	outline: 0.1rem solid rgb(105, 96, 73);
}

.online-server-description {
	color: rgb(105, 96, 73);
}

.tag {
	background-color: rgb(105, 96, 73);
}

.section {
	outline: 0.1rem solid rgb(105, 96, 73);
}
